<div class="card bg-transparent rounded border-0">
  <% if current_author_has_posts %>
    <%= render "posts/posts", posts: @posts %>
  <%else%>
    <%= render partial: "shared/empty" %>
  <% end %>
</div>
