<div class="row justify-content-center mt-4">
  <div class="col-md-4 col-sm-6">
    <div class="card border-0">
      <div class="card-header">
        <h6 class="card-title mb-0 text-center">
          No Posts
        </h6>
      </div>
      <div class="card-body text-center">
        <%= link_to  "Create a post", new_post_path, class:'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
