<%= render 'shared/navbar', locals: {home: true} %>
<% if @posts.present? %>
  <%= render 'shared/blogs', posts: @posts %>
<%else%>
  <%= render 'shared/empty' %>
<% end %>
<% if @comments.any? %>
  <h4 class="text-white">Recent Comments</h4>
  <%= render 'shared/comments_list', comments: @comments%>
<% end %>
