<div class="card mb-3 rounded">
  <div class="card-header d-flex justify-content-between">
    <% if comment.author == current_author %>
      <small>You</small>
    <%else%>
      <small><%= comment.author.email%></small>
    <% end %>
    <span>
      <small><%= time_ago_in_words(comment.created_at)%> ago</small>
    </span>
  </div>
  <div class="card-body rounded-bottom">
    <%= comment.content%></div>
</div>
