<form action="<%= post_comments_path(post)%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <textarea class="form-control mb-2" name="comment[content]" placeholder="Type here..."></textarea>
  <input type="submit" name="Submit" class='btn btn-primary'>
</form>
