.card {
  background-color: transparent !important;
  border-color: #455e66 !important;

  .card-header {
    background-color: #161b22 !important;
  }

  .card-body {
    background-color: #0d1117 !important;
  }

  .card-footer {
    background-color: #161b22 !important;
  }
}

.btn-primary {
  color: white;
  background-color: #02a6b5;
  border-color: #0d1117;
}

.btn-warning {
  color: #ffffff;
  background-color: transparent !important;
  border-color: #ffc107;
}

.btn-danger {
  color: #fff;
  background-color: transparent;
  border-color: #dc3545;
}

.cover {
  object-fit: cover;
  width: 100%;
  background-size: cover;
}
