$bg-color: #0d1117;

html{
  height: 100%;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
  margin-top: 3%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.874);
}

 .card-header{
    background-color: $bg-color;

    .card-body{
      background-color: #1c2637e0 !important;
      color: rgba(201, 16, 16, 0.874) !important;
    }
  }

  .card-footer{
    background-color: #1c2637b5;;
  }
  .post-card{
    .header-image{
      width: 100%;
      height: 120px;
      background-size: cover;
      background-position: center;
    }
  }


  .blog-card {
    height: 450px;

    .header-image {
      width: 100%;
      height: 450px;
      background-size: cover;
      background-position: center;
    }
  }
