.card {
  border-color: #379683;
  .card-header {
    background-color: #379683;
  }
  .card-body {
    background-color: #5CDB95 !important;
  }
}

.btn-primary{
background-color: #05386B;
border-color: #576d86;
color: #5CDB95;
}
