<div class="row justify-content-center mt-4">
  <div class="col-md-4 col-sm-6">
    <div class="card border-0">
      <div class="card-header">
        <h6 class="card-title mb-0 text-center">
          No Suggestions
        </h6>
      </div>
      <div class="card-body text-center">
        No suggestions to show
      </div>
    </div>
  </div>
</div>
