<div class="card mt-3 rounded">
  <div class="card-header d-flex justify-content-between">
<span>
    <small class="mr-3 "><strong>You</strong></small>
        <% if post_unpublished?(suggestion.post) %>
      <small>Post is currently unpublished</small>
    <% else %>
      <%= link_to "See Post", post_path(suggestion.post), class: "btn btn-primary btn-sm" %>
    <% end %>
</span>
    <span>
      <small><%= created_time(suggestion)%> ago</small>
    </span>
  </div>
  <div class="card-body rounded-bottom">
    <div class="mb-3">
      <%= suggestion.content%>
    </div>
    <div class="mb-1 d-flex justify-content-between text-center">
      <span class="d-flex">
      </span>
      <span>
        <span>
        </div>
        <div class="pl-4">
        </div>
      </div>
    </div>
