<h1>Edit Suggestion</h1>
<%# binding.pry %>
<%= form_with model: @suggestion, url: post_suggestion_url, method: :patch, local: true do |f| %>

  <%= f.text_field :content %>
  <%= f.submit class: 'btn btn-primary' %>

<% end %>
